{% extends 'body.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">
    <div class="card card-dark">
        {% block card-header %}
        <div class="card-header">
            <i class="fas fa-plus"></i>
            {{ title }} de la orden: {{ produccion.numero_op }}
        </div>
        {% endblock %}
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% block hidden %}
            {% endblock %}
            <div class="form-group">
                <label>Técnico *</label>
                {{ form.tecnico }}
            </div>
            <div class="form-group">
                <label>Operario *</label>
                {{ form.operario }}
            </div>
            <div class="form-group">
                <label>Turno *</label>
                {{ form.turno }}
            </div>
            <div class="form-group">
                <label>Hora inicio *</label>
                <div class="input-group date" id="hora_inicio" data-target-input="nearest">
                    {{ form.hora_inicio }}
                </div>
            </div>
            <div class="form-group">
                <label>Hora final *</label>
                {{ form.hora_final }}
            </div>
            <div class="form-group">
                <label>Cantidad producida *</label>
                {{ form.cantidad_producida }}
            </div>
            <div class="form-group">
                <label>Ciclo turno *</label>
                {{ form.ciclo_turno }}
            </div>
            <div class="form-group">
                <label>Cavidades en operación *</label>
                {{ form.cavidades_operacion }}
            </div>
            <div class="form-group">
                <label>Tiempo de paradas *</label>
                {{ form.tiempo_paradas }}
            </div>
            <div class="form-group">
                <label>Observaciones</label>
                {{ form.observaciones }}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Cargar
            </button>
            &nbsp;
            <a href="{{ list_url }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
            &nbsp;
            {% block button %}

            {% endblock %}
        </div>
    </div>
</form>
<script>
    {% if form.errors %}
    var errors = '';
    {% for field in form %}
    {% for error in field.errors %}
    errors += '{{ error }}\n'
    {% endfor %}
    {% endfor %}
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error',
    })
    {% endif %}

    $('form').on('submit', function (e) {
        e.preventDefault();
        //var parameters = $(this).serializeArray();
        var parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, parameters, 'Notificación', 'Esta segur@ que desea crear el siguiente registro?', function () {
            location.href = '{{ list_url }}';
        });
    });

    $(function () {
        $("#hora_inicio").datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            icons: {
                'time': "fa fa-clock",
                'date': "fa fa-calendar",
                'up': "fa fa-arrow-up",
                'down': "fa fa-arrow-down"
            }
        });
        $("#hora_final").datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            icons: {
                'time': "fa fa-clock",
                'date': "fa fa-calendar",
                'up': "fa fa-arrow-up",
                'down': "fa fa-arrow-down"
            }
        });
        $("#tiempo_paradas").datetimepicker({
            format: 'HH:mm:ss',
            icons: {
                'time': "fa fa-clock",
                'date': "fa fa-calendar",
                'up': "fa fa-arrow-up",
                'down': "fa fa-arrow-down"
            }
        });
        $("input[name='cantidad_producida']").TouchSpin({
            min: 0,
            max: '{{ saldo|cut:"." }}',
            boostat: 5,
            maxboostedstep: 10,
        });
    });

</script>
{% endblock %}