{% extends "body.html" %}

{% block content %}
<div class="card card-dark">
    <div class="card-header">
        <div class="container">
            <h4>
                Control a la orden de producción: {{ Control_produccion.numero_op }} <br>
                Producto: {{ Control_produccion.numero_op.producto.productos.Nombre_producto }}
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row py-4">
            <div class="col-sm-3">
                <li class="list-group-item list-group-item-dark">SUPERVISOR</li>
                <li class="list-group-item list-group-item-dark">TURNO</li>
                <li class="list-group-item list-group-item-dark">INICIO</li>
                <li class="list-group-item list-group-item-dark">FINAL</li>
                <li class="list-group-item list-group-item-dark">CANTIDAD PRODUCIDA</li>
                <li class="list-group-item list-group-item-dark">CICLO TURNO</li>
                <li class="list-group-item list-group-item-dark">CAVIDADES OPERACIÓN</li>
            </div>
            <div class="col-sm-9">
                <li class="list-group-item">{{ Control_produccion.supervisor.get_full_name }}</li>
                <li class="list-group-item">{{ Control_produccion.turno }}</li>
                <li class="list-group-item">{{ Control_produccion.hora_inicio }}</li>
                <li class="list-group-item">{{ Control_produccion.hora_final }}</li>
                <li class="list-group-item">{{ Control_produccion.cantidad_producida }}</li>
                <li class="list-group-item">{{ Control_produccion.ciclo_turno }}</li>
                <li class="list-group-item">{{ Control_produccion.cavidades_operacion }}</li>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead class="table-dark" style="text-align: center;">
                        <tr>
                            <th colspan="7">INFORMACIÓN DE LA ORDEN DE PRODUCCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;">Cliente</th>
                            <th class="list-group-item-dark" style="text-align: center;">Cantidad Requerida</th>
                            <th class="list-group-item-dark" style="text-align: center;">Cantidad esperada</th>
                            <th class="list-group-item-dark" style="text-align: center;">Ciclo</th>
                            <th class="list-group-item-dark" style="text-align: center;">Cavidades</th>
                            <th class="list-group-item-dark" style="text-align: center;">Fecha de entrega</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ Control_produccion.numero_op.cliente }}</td>
                            <td style="text-align: center;">{{ Control_produccion.numero_op.cantidad_requerida }}</td>
                            <td style="text-align: center;">{{ cantidad_esperada_turno|floatformat:"2" }}</td>
                            <td style="text-align: center;">{{ Control_produccion.numero_op.producto.productos.ciclo }}</td>
                            <td style="text-align: center;">{{ Control_produccion.numero_op.producto.productos.cavidades }}</td>
                            <td style="text-align: center;">{{ Control_produccion.numero_op.fecha_entrega }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if materiales %}
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead class="table-dark" style="text-align: center;">
                        <tr>
                            <th colspan="5">MATERIAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;">Material</th>
                            <th class="list-group-item-dark" style="text-align: center;">Categoria</th>
                            <th class="list-group-item-dark" style="text-align: center;">Referencia</th>
                            <th class="list-group-item-dark" style="text-align: center;">Lote</th>
                            <th class="list-group-item-dark" style="text-align: center;">Cantidad</th>
                        </tr>
                        {% for material in materiales %}
                        <tr>
                            <td style="text-align: center;">{{ material.material_solicitado.ingreso_materia_prima.nombre }}</td>
                            <td style="text-align: center;">{{ material.material_solicitado.ingreso_materia_prima.categoria }}</td>
                            <td style="text-align: center;">{{ material.material_solicitado.ingreso_materia_prima.referencia }}</td>
                            <td style="text-align: center;">{{ material.material_solicitado.lote }}</td>
                            <td style="text-align: center;">{{ material.cantidad_solicitada }}</td>
                        </tr>
                        {% endfor %}
                        {% if Control_produccion.material_molido >= 0 %}
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;" colspan="1">
                                Material molido recuperado
                            </th>
                            <th class="list-group-item-dark" style="text-align: center;" colspan="2">
                                Total materia prima
                            </th>
                            <th class="list-group-item-dark" style="text-align: center;" colspan="2">
                                Porcentaje material molido recuperado
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ Control_produccion.material_molido }}</td>
                            <td style="text-align: center;" colspan="2">{{ cantidad_material }}</td>
                            <td style="text-align: center;" colspan="2">{{ porcentaje_recuperado|floatformat:"2" }} %</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead class="table-dark" style="text-align: center;">
                        <tr>
                            <th colspan="7">TECNICOS &/U OPERARIOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;">NOMBRE</th>
                            <th class="list-group-item-dark" style="text-align: center;">CARGO</th>
                            <th class="list-group-item-dark" style="text-align: center;">CODIGO</th>
                        </tr>
                        {% for tecnico in tecnicos.all %}
                        <tr>
                            <td style="text-align: center;">{{ tecnico.colaborador.nombre }}</td>
                            <td style="text-align: center;">{{ tecnico.colaborador.cargo }}</td>
                            <td style="text-align: center;">{{ tecnico.colaborador.codigo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead class="table-dark" style="text-align: center;">
                        <tr>
                            <th colspan="7">PARADAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;">MOTIVO</th>
                            <th class="list-group-item-dark" style="text-align: center;">TIEMPO</th>
                            <th class="list-group-item-dark" style="text-align: center;">OBSERVACIÓN</th>
                        </tr>
                        {% for parada in paradas.all %}
                        <tr>
                            <td style="text-align: center;">{{ parada.motivo.motivo }}</td>
                            <td style="text-align: center;">{{ parada.tiempo_paradas }}</td>
                            <td style="text-align: center;">{{ parada.observacion }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align: center;" >TIEMPO TOTAL DE PARADA</td>
                            <td style="text-align: center;">{{ tiempo_total_parada }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;" >TIEMPO PRODUCCIÓN</th>
                            <th class="list-group-item-dark" style="text-align: center;" >BOLSAS COMPLETADAS</th>
                            <th class="list-group-item-dark" style="text-align: center;" >CANTIDAD ACUMULADA</th>
                            <th class="list-group-item-dark" style="text-align: center;" >SALDO DE LA ORDEN</th>
                            <th class="list-group-item-dark" style="text-align: center;" >RENDIMIENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">{{ tiempo_produccion }}</td>
                            <td style="text-align: center;">{{ Control_produccion.bolsas_completadas|floatformat:"2" }}</td>
                            <td style="text-align: center;">{{ Control_produccion.cantidad_acumulada|floatformat:"2" }}</td>
                            <td style="text-align: center;">{{ Control_produccion.saldo_orden }}</td>
                            <td style="text-align: center;">{{ rendimiento|floatformat:"2" }} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="list-group-item-dark" style="text-align: center;">OBSERVACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: justify;">{{ Control_produccion.observaciones|linebreaks }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}