{% extends "lista.html" %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'js/Listas/control_produccion.js' %}"></script>
{% endblock %}

{% block columnas %}

<tr>
    <th>Opciones</th>
    <th>Id</th>
    <th>No. orden</th>
    <th>Cantidad producida</th>
    <th>Saldo orden</th>
    <th>Fecha control</th>
    <th>Turno</th>
    <th>Producto</th>
    <th>Supervisor</th>
    <th>Técnico</th>
    <th>Operario</th>
</tr>

{% endblock %}

{% block javascript %}

{% endblock %}
