{% extends "lista.html" %}
{% load static %}

{% block head_list %}
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

<script src="{% static 'js/forms/forms.js' %}"></script>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <input type="hidden" name="action" value="{{ action }}">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-suitcase"></i> Normas aplicables</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador:</label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" name="id_normas">
    
                                    </select>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblNormas">
                                <thead>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Código</th>
                                        <th>Titulo</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-boxes"></i> Producto
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Producto:</label>
                                <select class="form-control select2" style="width: 100%;" name="id_producto">
    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-vials"></i> Pruebas y/o ensayos
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador:</label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" name="id_pruebas">
    
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblPruebas">
                                <thead>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Prueba y/o ensayo</th>
                                        <th>Valor</th>
                                        <th>Tolerancia</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Caracteristicas dimensionales</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador:</label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" name="id_dimensiones">
    
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblDimensiones">
                                <thead>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Dimensión</th>
                                        <th>Valor</th>
                                        <th>Tolerancia</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fab fa-creative-commons-by"></i> Atributos</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador:</label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" name="id_atributos">
    
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblAtributos">
                                <thead>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Atributo</th>
                                        <th>Especificación</th>
                                        <th>Observación</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            {% block card-footer %}
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Guardar ficha
            </button>
            &nbsp;
            <a href="{{ list_url }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
            &nbsp;
            {% endblock %}
        </div>
    </div>
</form>
{% endblock %}