{% extends 'lista.html' %}
{% block columnas %}
<tr>
    <th style="text-align: center;">Atributo</th>
    <th style="text-align: center;">Especificación</th>
    <th style="text-align: center;">Observación</th>
</tr>
{% endblock %}
{% block filas %}
<tr id="lista_productos">
    <td>{{ instance.caracteristicas }}</td>
    <td>{{ instance.especificacion}}</td>
    <td>{{ instance.observacion }}</td>
{% endblock %}
{% block card-footer %}
    <a href="{% url 'Productos:Nuevo_atributo' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Crear un registro
    </a>        
{% endblock %}