{% extends 'lista.html' %}
{% block columnas %}
<tr>
    <th style="text-align: center;">Prueba y/o ensayo</th>
    <th style="text-align: center;">Descripción</th>
    <th style="text-align: center;">Medio de control</th>
</tr>
{% endblock %}
{% block filas %}
<tr id="lista_productos">
    <td>{{ instance.variables }}</td>
    <td>{{ instance.descripcion_prueba}}</td>
    <td>{{ instance.medio_control }}</td>
{% endblock %}
{% block card-footer %}
    <a href="{% url 'Productos:Nueva_prueba' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Crear un registro
    </a>        
{% endblock %}