{% extends 'lista.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- CSS style -->
    <link rel="stylesheet" href="{% static '../static/css/lista_producto.css' %}">

    <script src="{% static 'js/Listas/productos.js' %}"></script>
{% endblock %}
{% block columnas %}
<tr>
    <th>OP</th>
    <th>Id</th>
    <th>Nombre del producto</th>
    <th>Cliente</th>
    <th>Número de ficha</th>
    <th>Proceso</th>
    <th>Version</th>
    <th>Fecha de vigencia</th>
    <th>Estado Ficha</th>
    <th>Opciones</th>
</tr>
{% endblock %}
{% block filas %}

{% endblock %}
{% block javascript %}

{% endblock %}

