{% extends "lista.html" %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'js/Listas/documentos.js' %}"></script>
{% endblock %}

{% block columnas %}

<tr>
    <th>Código</th>
    <th>Titulo</th>
    <th>Tipo documento</th>
    <th>Cliente</th>
    <th>Proceso</th>
    <th>Versión</th>
    <th>Fecha</th>
    <th>Estado documento</th>
    <th>Opciones</th>
</tr>

{% endblock %}

{% block card-footer %}
    <a href="{% url 'Documentación:Crear_documento' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Crear un documento
    </a> 
{% endblock %}
{% block javascript %}

{% endblock %}