{% extends 'lista.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'js/Listas/produccion.js' %}"></script>
{% endblock %}
{% block columnas %}
<tr>
    <th style="text-align: center; ">No. orden</th>
    <th style="text-align: center; ">Producto</th>
    <th style="text-align: center; ">Lote</th>
    <th style="text-align: center; ">Cliente</th>
    <th style="text-align: center; ">Saldo Orden</th>
    <th style="text-align: center; ">Saldo Cliente</th>
    <th style="text-align: center; ">Color</th>
    <th style="text-align: center; ">Cant. requerida</th>
    <th style="text-align: center; ">Estado Orden</th>
    <th style="text-align: center; ">Fecha de entrega</th>
    <th style="text-align: center; ">Opciones</th>
</tr>
{% endblock %}
{% block filas %}

{% endblock %}

{% block javascript %}

{% endblock %}