{% extends "lista.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_list %}
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

<script src="{% static 'js/forms/pnc.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data" id="formPnc">
    <div class="card card-dark">
        {% block card-header %}
        <div class="card-header">
            {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                {% else %}
                    <i class="fas fa-edit"></i>
                {% endif %}
            {{ title }} de la inspección: {{ control_calidad.id }}, y la orden: {{ control_calidad.numero_op }}
        </div>
        {% endblock %}
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% block hidden %}
            {% endblock %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-times-circle"></i> PRODUCTOS NO CONFORMES
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador:</label>
                                <div class="input-group">
                                    <select class="custom-select select2" name="id_motivo">

                                    </select>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="tblPnc">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">Id</th>
                                        <th style="width: 8%;">Motivo</th>
                                        <th style="width: 10%;">Estado</th>
                                        <th style="width: 12%;">Cantidad</th>
                                        <th style="width: 12%;">Técnico</th>
                                        <th style="width: 12%;">Operario 1</th>
                                        <th style="width: 12%;">Operario 2</th>
                                        <th style="width: 12%;">Operario 3</th>
                                        <th style="width: 15%;">Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Cargar
            </button>
            &nbsp;
            <a href="{{ list_url }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
            &nbsp;
        </div>
    </div>
</form>
<script>
    pnc.items.pnc_post = {{ pnc|safe }};
</script>
{% endblock %}