{% extends "body.html" %}
{% block content %}
<div class="card card-dark">
    <div class="card-header">
        <div class="container">
            <h5><i class="fas fa-info-circle"></i> PNC de la orden de producción: {{ ProductoNoConforme.id_inspeccion.numero_op }}</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-sm-5">
                <li class="list-group-item list-group-item-dark">PRODUCTO</li>
                <li class="list-group-item list-group-item-dark">COLOR</li>
                <li class="list-group-item list-group-item-dark">ANALISTA QUE CREA PNC</li>
                <li class="list-group-item list-group-item-dark">FECHA CREACIÓN PNC</li>
                <li class="list-group-item list-group-item-dark">CANTIDAD PNC</li>
            </div>
            <div class="col col-sm-7">
                <li class="list-group-item">{{ ProductoNoConforme.id_inspeccion.numero_op.producto.productos.Nombre_producto }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.id_inspeccion.numero_op.producto.color.color }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.inspector_calidad.get_full_name }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.fecha_creacion }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.cantidad_pnc }}</li>
            </div>
        </div>
        <div class="row py-4">
            <div class="col col-sm-5">
                <li class="list-group-item list-group-item-dark">TIPO</li>
                <li class="list-group-item list-group-item-dark">TURNO</li>
                <li class="list-group-item list-group-item-dark">ESTADO PNC</li>
                <li class="list-group-item list-group-item-dark">ANALISTA QUE ACTUALIZA EL PNC</li>
                <li class="list-group-item list-group-item-dark">FECHA DE ACTUALIZACIÓN</li>
            </div>
            <div class="col col-sm-7">
                <li class="list-group-item">{{ ProductoNoConforme.tipo_pnc }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.id_inspeccion.turno }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.estado_pnc }}</li>
                {% if ProductoNoConforme.inspector_calidad_actualiza %}
                <li class="list-group-item">{{ ProductoNoConforme.inspector_calidad_actualiza.get_full_name }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.fecha_actualizacion }}</li>
                {% else %}
                <li class="list-group-item">Aun no se ha actualizado el producto no conforme</li>
                <li class="list-group-item">Aun no se ha actualizado el producto no conforme</li>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="table-dark" style="text-align: center;">
                        <tr>
                            <th colspan="7">TECNICOS &/U OPERARIOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if ProductoNoConforme.tecnico %}
                            <th class="list-group-item-dark" style="text-align: center;">TÉCNICO</th>
                            {% endif %}
                            {% if ProductoNoConforme.operario_1 %}
                            <th class="list-group-item-dark" style="text-align: center;">OPERARIO</th>
                            {% endif %}
                            {% if ProductoNoConforme.operario_2 %}
                            <th class="list-group-item-dark" style="text-align: center;">OPERARIO</th>
                            {% endif %}
                            {% if ProductoNoConforme.operario_3 %}
                            <th class="list-group-item-dark" style="text-align: center;">OPERARIO</th>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if ProductoNoConforme.tecnico %}
                            <td style="text-align: center;">{{ ProductoNoConforme.tecnico }}</td>
                            {% endif %}
                            {% if ProductoNoConforme.operario_1 %}
                            <td style="text-align: center;">{{ ProductoNoConforme.operario_1 }}</td>
                            {% endif %}
                            {% if ProductoNoConforme.operario_2 %}
                            <td style="text-align: center;">{{ ProductoNoConforme.operario_2 }}</td>
                            {% endif %}
                            {% if ProductoNoConforme.operario_3 %}
                            <td style="text-align: center;">{{ ProductoNoConforme.operario_3 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>OBSERVACIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ProductoNoConforme.observaciones|linebreaks }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}