{% extends "body.html" %}
{% block content %}
<div class="card card-dark">
    <div class="card-header">
        <div class="container">
            <h5><i class="fas fa-info-circle"></i> PNC de la orden de producción: {{ ProductoNoConforme.id_inspeccion.numero_op }}</h5>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th colspan="7" style="text-align: center;">INFORMACIÓN GENERAL DEL PRODUCTO NO CONFORME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class=" bg-secondary">Producto</th>
                    <th class=" bg-secondary">Número de inspección</th>
                    <th class=" bg-secondary">Analista Crea</th>
                    <th class=" bg-secondary">Fecha del PNC</th>
                    <th class=" bg-secondary">Cantidad PNC</th>
                </tr>
                <tr>
                    <td>{{ ProductoNoConforme.id_inspeccion.numero_op.producto.Nombre_producto }}</td>
                    <td>{{ ProductoNoConforme.id_inspeccion_id }}</td>
                    <td>{{ ProductoNoConforme.inspector_calidad.first_name }} {{ ProductoNoConforme.inspector_calidad.last_name }}</td>
                    <td>{{ ProductoNoConforme.fecha_creacion }}</td>
                    <td>{{ ProductoNoConforme.cantidad_pnc }}</td>
                </tr>
                <tr>
                    <th colspan="2" class=" bg-secondary">Analista Modifica</th>
                    <th colspan="3" class=" bg-secondary">Fecha</th>
                </tr>
                <tr>
                    <td colspan="2">{{ ProductoNoConforme.inspector_calidad_actualiza.first_name }} {{ ProductoNoConforme.inspector_calidad_actualiza.last_name }}</td>
                    <td colspan="3">{{ ProductoNoConforme.fecha_actualizacion }}</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <table class="table table-bordered">
            <thead class="table table-dark">
                <tr>
                    <th colspan="2" style="text-align: center;">TIPOS DE PRODUCTO NO CONFORME</th>
                </tr>
            </thead>
            <tbody>
                {% if ProductoNoConforme.tipo_pnc_1 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_1 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_2 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_2 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_3 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_3 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_4 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_4 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_5 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_5 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_6 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_6 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_7 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_7 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_8 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_8 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_9 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_9 }}</td>
                </tr>
                {% endif %}
                {% if ProductoNoConforme.tipo_pnc_10 %}
                <tr>
                    <td>{{ ProductoNoConforme.tipo_pnc_10 }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        &nbsp;
        <div class="row">
            <div class="col-sm-3">
                <li class="list-group-item list-group-item-dark">Técnico</li>
                <li class="list-group-item list-group-item-dark">Operario</li>
                <li class="list-group-item list-group-item-dark">Turno</li>
                &nbsp;
                <li class="list-group-item list-group-item-dark">Fecha Inspección</li>
                <li class="list-group-item list-group-item-dark">Estado PNC</li>
            </div>
            <div class="col-sm-9">
                <li class="list-group-item">{{ control_calidad.tecnico }}</li>
                <li class="list-group-item">{{ control_calidad.operario }}</li>
                <li class="list-group-item">{{ control_calidad.turno }}</li>
                &nbsp;
                <li class="list-group-item">{{ control_calidad.fecha_creacion }}</li>
                <li class="list-group-item">{{ ProductoNoConforme.estado_pnc }}</li>
            </div>
            &nbsp;
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ ProductoNoConforme.observaciones|linebreaks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}