{% extends 'body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

{% block head_form %}

{% endblock %}
{% endblock %}


{% block content %}
<form method="post" action="." enctype="multipart/form-data">
    <div class="card card-dark">
        {% block card-header %}
        <div class="card-header">
            <i class="fas fa-edit"></i>
            {{ title }}
        </div>
        {% endblock %}
        <div class="card-body">
            <table class="table table-bordered">
                <thead class=" table-dark" style="text-align: center;">
                    <th>
                        <i class="fas fa-paste"></i> ¡INGRESE LA INFORMACIÓN SOLICITADA!
                        <p>
                            <small>Los campos con asterisco (*) son obligatorios</small>
                        </p>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{{ action }}">
                            {% block hidden %}
                            {% endblock %}
                            {{ form|crispy }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Cargar
            </button>
            &nbsp;
            <a href="{{ list_url }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
            &nbsp;
            {% block button %}

            {% endblock %}
        </div>
    </div>
</form>
<script>
    $('form').on('submit', function(e){
        e.preventDefault();
        var parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, parameters, 'Notificación', 'Esta segur@ que desea crear el siguiente registro?', function(){
            location.href = '{{ list_url }}';
        });
    });

    $(function () {
        $("input[name='cantidad_solicitada']").TouchSpin({
            min: 0,
            max: '{{ saldo|cut:"." }}',
            boostat: 5,
            maxboostedstep: 10,
        });
    });
</script>
{% endblock %}