{% extends 'lista.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<script src="{% static 'js/Listas/inventario_mp.js' %}"></script>
{% endblock %}
{% block columnas %}
<tr>
    <th style="text-align: center;">Id</th>
    <th style="text-align: center;">Nombre</th>
    <th style="text-align: center;">Referencia</th>
    <th style="text-align: center;">Categoria</th>
    <th style="text-align: center;">Proveedor</th>
    <th style="text-align: center;">Cantidad total</th>
    <th style="text-align: center;">PNC</th>
    <th style="text-align: center;">Cantidad dispo</th>
    <th style="text-align: center;">Unidad De Medida</th>
    <th style="text-align: center;">Opciones</th>
</tr>
{% endblock %}
{% block filas %}

{% endblock %}
{% block javascript %}
<div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>
                    <i class="fas fa-dolly"></i> 
                    Detalles De Ingreso Del Producto</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDet">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Referencia</th>
                            <th>Fecha de ingreso</th>
                            <th>Cantidad ingresada</th>
                            <th>Ingresado por</th>
                            <th>Factura</th>
                            <th>Remisión</th>
                            <th>Lote</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalDetOutputs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>
                    <i class="fas fa-dolly-flatbed"></i> 
                    Detalles De Solicitudes Del Producto</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDetOutputs">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Referencia</th>
                            <th>Fecha de solicitud</th>
                            <th>Cantidad solicitada</th>
                            <th>Solicitado por</th>
                            <th>Número Orden</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}